<html lang="en" ng-app="PVDataApp">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/0.9.4/angular-material.min.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=RobotoDraft:300,400,500,700,400italic">
<meta name="viewport" content="initial-scale=1" />

<style>
.md-toolbar-tools h1 {
	font-size: inherit;
	font-weight: inherit;
	margin: inherit;
}

.info label.name{
	font-size: 80%;
	color: #0091ea;
	white-space: nowrap;
}
.info label.value{
	font-size: 80%;
	white-space: nowrap;
}
.info label.caption{
	font-size: 80%;
	margin-top: 20px;
	color: #0091ea;
	white-space: nowrap;
}
.info h1 {
	margin-top: 0px;
	margin-bottom:10px;
	white-space: nowrap;
}
.info h2 {
	margin-top: 0px;
	white-space: nowrap;
}
.info h3 {
	margin-top: 0px;
	white-space: nowrap;
}
</style>
</head>
<body ng-controller="DashboardController">

		<md-toolbar>
		<div class="md-toolbar-tools">
			<md-button ng-click="toggleSidenav('leftsidenav')"> 
				<md-icon aria-label="Menu" md-svg-icon="https://s3-us-west-2.amazonaws.com/s.cdpn.io/68133/menu.svg"></md-icon>
			</md-button>
			<h1>Solar Info</h1>
		</div>
		</md-toolbar>
		
		<md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="leftsidenav">
			<md-toolbar class="md-theme-light">
				<h1 class="md-toolbar-tools">Sidenav Right</h1>
			</md-toolbar>
			<md-content layout-padding>
				<form>
					<md-input-container>
						<label for="testInput">Test input</label>
						<input type="text" id="testInput"
						       ng-model="data" md-sidenav-focus>
					</md-input-container>
				</form>
				<md-button ng-click="close()" class="md-primary">
					Close Sidenav Right
				</md-button>
			</md-content>
		 </md-sidenav>		
		
		<div flex layout-padding layout-align="center">
			<md-whiteframe class="md-whiteframe-z1" layout layout-align="center">
				<div layout="column" layout-align="start" class="info">
					<div layout="row" layout-align="start" class="info">
						<div flex><label class="name">Inverter Type</label></div>
						<div flex></div>
						<div flex><label class="value">&nbsp;{{inverter.type}}</label></div>
			        </div>
					<div layout="row" layout-align="start" class="info">
						<div flex><label class="name">Serial number</label></div>
						<div flex></div>
						<div flex><label class="value">&nbsp;{{inverter.serialnumber}}</label></div>
			        </div>
		        </div>
			</md-whiteframe>
		</div>

	
		<div layout-lg="column" layout-gt-lg="row" flex>
			<div flex flex-gt-lg="25" layout-padding layout-align="center">
				<md-whiteframe class="md-whiteframe-z1" layout layout-align="center">
					<div layout="column" layout-align="start" class="info">
							<label class="caption">Yield YtD</label>
							<h1 class="md-display-3">{{actual.yield_ytd}} kWh</h1>
							<md-progress-linear md-mode="determinate" value="{{calculated.progressToEstimatedValue}}"></md-progress-linear>
							&nbsp;
					</div>
				</md-whiteframe>
			</div>
			<div layout-md="column" layout-gt-md="row" flex>
				<div layout="row" flex>
					<div flex layout-padding>
						<md-whiteframe class="md-whiteframe-z1" layout flex layout-align="center">
							<div layout="column" layout-align="start" class="info">
								<label class="caption">Actual Power</label>
								<h3 class="md-display-1">{{actual.power}} W</h3>
							</div>
						</md-whiteframe>
					</div>
					<div flex layout-padding>
						<md-whiteframe class="md-whiteframe-z1" layout flex layout-align="center">
							<div layout="column" layout-align="start" class="info">
								<label class="caption">Yield Today</label>
								<h3 class="md-display-1">{{actual.yield_today}} kWh</h3>
							</div>
						</md-whiteframe>
					</div>
				</div>
				<div layout="row" flex>
					<div flex layout-padding>
						<md-whiteframe class="md-whiteframe-z1" layout flex layout-align="center">
							<div layout="column" layout-align="start" class="info">
								<label class="caption">Actual Panel Voltage</label>
								<h3 class="md-display-1">{{actual.voltage}} V</h3>
							</div>
						</md-whiteframe>
					</div>
					<div flex layout-padding>
						<md-whiteframe class="md-whiteframe-z1" layout flex layout-align="center">
							<div layout="column" layout-align="start" class="info">
								<label class="caption">Inverter Temperature</label>
								<h3 class="md-display-1">{{actual.temperature}} ℃</h3>
							</div>
						</md-whiteframe>
					</div>
				</div>
			</div>
						
		</div>
	
		<div flex layout-align="center end">
			<md-toolbar>
			<div class="md-toolbar-tools">
				<label>1 minute ago</label>
			</div>
			</md-toolbar>
		</div>
		
	
	<!-- Angular Material Dependencies -->
	<script
		src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.js"></script>
	<script
		src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-animate.js"></script>
	<script
		src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-aria.js"></script>
	<script
		src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-route.js"></script>

	<script
		src="https://ajax.googleapis.com/ajax/libs/angular_material/0.9.4/angular-material.min.js"></script>

	<script>
		var app = angular.module('PVDataApp', [ 'ngMaterial','ngRoute' ]);
		
		app.controller('DashboardController', [
   				'$scope',
   				'$http',
   				'$q',
   				'$mdSidenav',
   				function($scope, $http, $q, $mdSidenav) {
					var inverter_serialnumber = "[[YOUR SERIAL NUMBER]]";
   					
   					var inverter_promise = $http.get("http://localhost:8080/pvdatavisualizer/api/inverters/" + inverter_serialnumber);
   					var actualdata_promise = $http.get("http://localhost:8080/pvdatavisualizer/api/inverters/" + inverter_serialnumber + "/data/actual");
   					
   					// After all data is loaded, do some calculations
   					$q.all([inverter_promise, actualdata_promise]).then(function(promiseresults){
   			            $scope.inverter = promiseresults[0].data;
  						$scope.actual = promiseresults[1].data;
  						
  				        calculate($scope)  						
   					});   					
 					
   				} ]);
		
		function calculate($scope) {
			$scope.calculated = {
					progressToEstimatedValue: ($scope.actual.yield_ytd / $scope.inverter.estimated_yearly_yield) * 100
				};
		}
	</script>
</body>
</html>
