<html lang="en" ng-app="PVDataApp">
<head>

	<meta charset="UTF-8">
		<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/0.9.4/angular-material.min.css">
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=RobotoDraft:300,400,500,700,400italic">
	<meta name="viewport" content="initial-scale=1" />
	
<style>
.md-toolbar-tools h1 {
	font-size: inherit;
	font-weight: inherit;
	margin: inherit;
}

.info label.name{
	font-size: 80%;
	color: #0091ea;
	white-space: nowrap;
}
.info label.value{
	font-size: 80%;
	white-space: nowrap;
}
.info label.caption{
	font-size: 80%;
	margin-top: 20px;
	color: #0091ea;
	white-space: nowrap;
}
.info h1 {
	margin-top: 0px;
	margin-bottom:10px;
	white-space: nowrap;
}
.info h2 {
	margin-top: 0px;
	white-space: nowrap;
}
.info h3 {
	margin-top: 0px;
	white-space: nowrap;
}
</style>
</head>
<body ng-controller="DashboardController">

		<md-toolbar>
		<div class="md-toolbar-tools">
			<md-button ng-click="toggleSidenav('leftsidenav')"> 
				<md-icon aria-label="Menu" md-svg-icon="https://s3-us-west-2.amazonaws.com/s.cdpn.io/68133/menu.svg"></md-icon>
			</md-button>
			<h1>Solar Info</h1>
		</div>
		</md-toolbar>
		
		<md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="leftsidenav">
			<md-toolbar class="md-theme-light">
				<h1 class="md-toolbar-tools">Sidenav Right</h1>
			</md-toolbar>
			<md-content layout-padding>
				<form>
					<md-input-container>
						<label for="testInput">Test input</label>
						<input type="text" id="testInput"
						       ng-model="data" md-sidenav-focus>
					</md-input-container>
				</form>
				<md-button ng-click="close()" class="md-primary">
					Close Sidenav Right
				</md-button>
			</md-content>
		 </md-sidenav>		
		

	<div ng-include="dashboard_url">
	</div>		
	
	<!-- Angular Material Dependencies -->
	<script
		src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.js"></script>
	<script
		src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-animate.js"></script>
	<script
		src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-aria.js"></script>
	<script
		src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-route.js"></script>

	<script
		src="https://ajax.googleapis.com/ajax/libs/angular_material/0.9.4/angular-material.min.js"></script>

	<script>
		var app = angular.module('PVDataApp', [ 'ngMaterial','ngRoute' ]);
		
		app.controller('DashboardController', [
   				'$scope',
   				'$http',
   				'$q',
   				'$mdSidenav',
   				'$interval',
   				function($scope, $http, $q, $mdSidenav, $interval) {
   					
   					$scope.dashboard_url = "dashboard.part.html";
   					$scope.login_url = "login.part.html";
   					
   					// Initialize the window with data
   					refreshData($scope, $http, $q)
   					
   					// Setup refresh of the dashboard data every half minute
   					$interval(function() { refreshData($scope, $http, $q) }, 30000); 					
   				} ]);
		
		function calculate($scope) {
			$scope.calculated = {
					progressToEstimatedValue: ($scope.actual.yield_ytd / $scope.inverter.estimated_yearly_yield) * 100
				};
		}
			
		function refreshData($scope, $http, $q) {
			var inverter_serialnumber = "NLDN2020145H2050";
				
			var inverter_promise = $http.get("api/inverters/" + inverter_serialnumber);
			var actualdata_promise = $http.get("api/inverters/" + inverter_serialnumber + "/data/actual");
			
			// After all data is loaded, do some calculations
			$q.all([inverter_promise, actualdata_promise]).then(function(promiseresults){
	            $scope.inverter = promiseresults[0].data;
				$scope.actual = promiseresults[1].data;
				
		        calculate($scope)  						
			});   					
			
		}
	</script>
</body>
</html>
